
agentproperties-agent/.project

.project

agentproperties-agent/.settings/

agentproperties-server/.settings/

agentproperties-common/.settings/

build/.settings/org.eclipse.m2e.core.prefs

.settings/org.eclipse.m2e.core.prefs

agentproperties-agent/.classpath

agentproperties-server/.classpath

agentproperties-common/.classpath

agentproperties-agent/target/

agentproperties-server/target/

.vscode/settings.json

agentproperties-common/target/

build/target/

target/
